.contact-form-section {
  background: var(--black);
  padding-top: 60px;
}
.contact-form-section-first-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
.contact-form-pretitle {
  color: var(--nordic-blue);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}
.contact-form-title {
  color: var(--white);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 39.6px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.contact-form-title-content {
  color: var(--gray);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}
.contact-form-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 65px;
}
.contact-form-list-item-svg {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--white);
  box-sizing: border-box;
}

.contact-form-infoname {
  color: var(--gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.contact-form-info {
  color: var(--white);
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%; /* 25.08px */
  letter-spacing: -0.38px;
  text-transform: uppercase;
}
.contact-form-list-item {
  display: flex;
  gap: 16px;
}
.contact-form-info-pos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: center;
}

.line-position {
  position: relative;
  padding-bottom: 24px;
}
.line-position::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
}
.contact-form-blue-part {
  background: var(--nordic-blue);
  margin-left: -20px;
  margin-right: -20px;
  padding: 60px 20px;
}
.contact-form-form-title {
  color: var(--white);
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  margin-bottom: 46px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contactForm-input {
  display: flex;
  padding: 18px 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.contactForm-input:hover,
.contactForm-input:focus {
  transform: scale(1.01);
  outline: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.contactForm-input::placeholder {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contactForm-btn {
  width: 240px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--white);
  color: var(--black);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.34px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.contact-form-btn-svg svg {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

.contactForm-btn svg use {
  transition: all 0.3s ease;
  fill: var(--black);
}

.contactForm-btn:hover .contact-form-btn-svg,
.contactForm-btn:focus .contact-form-btn-svg {
  animation: bounce-up-down 0.8s ease forwards;
}

.contactForm-btn:hover svg use,
.contactForm-btn:focus svg use {
  fill: var(--white);
}
.thanks-svg {
  width: 100px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.thanks-svg svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
}

.form-thank-you {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
  text-align: center;
  width: 319px;
  height: 422px;
  box-sizing: border-box;
}

.contact-form-cover-title {
  color: var(--black);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.contact-form-cover-massege {
  color: var(--black);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 32px;
}

.contact-form-cover-btn {
  display: flex;
  width: 158px;
  height: 48px;
  padding: 12px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #000;
  background: var(--white);
  margin-left: auto;
  margin-right: auto;
}
.contact-form-cover-btn:hover,
.contact-form-cover-btn:focus {
  background: var(--black);
  color: var(--white);
}
.btn-cross-close {
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.btn-cross-close svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .contact-form-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact-form-title {
    font-size: 52px;
    letter-spacing: -1.04px;
  }
  .contact-form-title-content {
    font-size: 16px;
  }
  .contact-form-list {
    margin-bottom: 60px;
  }
  .contact-form-info {
    font-size: 21px;
    letter-spacing: -0.42px;
  }
  .contact-form-blue-part {
    margin-left: 0px;
    margin-right: 0px;
    width: 688px;
    padding: 60px;
    box-sizing: border-box;
    border-radius: 12px;
  }
  .contactForm-btn {
    font-size: 18px;
    margin-top: 24px;
  }

  .thanks-svg {
    margin-bottom: 40px;
  }

  .form-thank-you {
    padding: 40px;
    width: 610px;
    height: 379px;
  }

  .contact-form-cover-title {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-form-desk-pos {
    display: flex;
    gap: 141px;
    align-items: center;
    justify-content: center;
  }
  .contact-form-black-part {
    width: 327px;
  }
  .form-thank-you {
    width: 678px;
    height: 387px;
  }
}
