<section>
  <div class="container">
    <div>
      <ul>
        <li>
          <svg class="" aria-label="">
            <use href="../img/sprite.svg/#"></use>
          </svg>
        </li>
        <li>
          <svg class="" aria-label="">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg class="" aria-label="">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg class="" aria-label="">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg class="" aria-label="">
            <use href=""></use>
          </svg>
        </li>
      </ul>
    </div>
    <div>
      <h2>Making Home Repairs Easy and Stress-Free</h2>
      <p>
        I am a handyman with many years of experience working in Esbjerg and
        throughout Jutland. I offer professional repair and restoration services
        at competitive prices, backed by a quality guarantee — available at your
        convenience, including weekends and holidays.
      </p>
      <p>
        I specialize in facade repairs, interior and exterior wall painting,
        carpentry and joinery, installation of custom-sized PVC windows or
        assembly of ready-made units, as well as laying paving stones.
      </p>
      <p>
        If you’re planning to move out, invite me to help you avoid unexpected
        costs and conflicts! I will promptly fix any defects, damage, or wear in
        accordance with your rental agreement requirements. I’ll prepare your
        home for inspection: repaint walls, renew flooring, fill cracks, and
        restore necessary elements.
      </p>
      <p>
        I enjoy challenging tasks and am not afraid of new challenges. Leave a
        request, and we’ll schedule a convenient time to make your move-out as
        smooth and hassle-free as possible.
      </p>
    </div>
    <div>
      <p>8+</p>
      <p>Years Experience</p>
      <p>150+</p>
      <p>Completed projects</p>
    </div>
  </div>
</section>
