<section class="about-me-section" id="about-me">
  <div class="container about-me-section-wrapper">
    <div class="about-me-first-block">
      <div class="about-me-svg-wrapper">
        <svg
          class="about-me-svg"
          aria-label=""
          width="230"
          height="50"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/about-me/icon-about-me.svg"></use>
        </svg>
      </div>
      <div class="about-me-text-wrapper">
        <h2 class="about-me-title" data-i18n="about-me-title"></h2>
        <ul class="about-me-text-list">
          <li>
            <p
              class="about-me-first-paragraph"
              data-i18n="about-me-first-paragrap"
            ></p>
          </li>
          <li>
            <p
              class="about-me-second-paragraph"
              data-i18n="about-me-second-paragraph"
            ></p>
          </li>
          <li>
            <p
              class="about-me-third-paragraph"
              data-i18n="about-me-third-paragraph"
            ></p>
          </li>
          <li>
            <p
              class="about-me-fourth-paragraph"
              data-i18n="about-me-fourth-paragraph"
            ></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-me-second-block">
      <div class="about-me-cirkle-wrapper">
        <p class="about-me-first-number">8+</p>
        <p
          class="about-me-fifth-paragraph"
          data-i18n="about-me-fifth-paragraph"
        ></p>
      </div>
      <div class="about-me-cirkle-wrapper about-me-second-cirkle">
        <p class="about-me-second-number">150+</p>
        <p
          class="about-me-sixth-paragraph"
          data-i18n="about-me-sixth-paragraph"
        ></p>
      </div>
    </div>
  </div>
</section>
