<section class="benefits-section">
  <div class="container benefits-section-desk-position" id="benefits">
    <div class="benefits-section-first-part">
      <p class="benefits-pretitle" data-i18n="benefits-pretitle"></p>
      <h2 class="benefits-title" data-i18n="benefits-title"></h2>
      <p class="benefits-title-content" data-i18n="benefits-title-content"></p>
    </div>

    <ul class="benefits-list">
      <li class="benefits-list-item">
        <div class="benefits-list-item-title-wrap">
          <div class="benefits-list-item-svg">
            <svg aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-wrench"></use>
            </svg>
          </div>
          <h4
            class="benefits-list-item-title"
            data-i18n="benefits-first-title"
          ></h4>
        </div>
        <p
          class="benefits-list-item-content"
          data-i18n="benefits-first-content"
        ></p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-item-title-wrap">
          <div class="benefits-list-item-svg">
            <svg aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-worker"></use>
            </svg>
          </div>
          <h4
            class="benefits-list-item-title"
            data-i18n="benefits-second-title"
          ></h4>
        </div>
        <p
          class="benefits-list-item-content"
          data-i18n="benefits-second-content"
        ></p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-item-title-wrap">
          <div class="benefits-list-item-svg">
            <svg aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-fire"></use>
            </svg>
          </div>
          <h4
            class="benefits-list-item-title"
            data-i18n="benefits-third-title"
          ></h4>
        </div>
        <p
          class="benefits-list-item-content"
          data-i18n="benefits-third-content"
        ></p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-item-title-wrap">
          <div class="benefits-list-item-svg">
            <svg aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-eco-plant"></use>
            </svg>
          </div>
          <h4
            class="benefits-list-item-title"
            data-i18n="benefits-fourth-title"
          ></h4>
        </div>
        <p
          class="benefits-list-item-content"
          data-i18n="benefits-fourth-content"
        ></p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-item-title-wrap">
          <div class="benefits-list-item-svg">
            <svg aria-hidden="true" focusable="false">
              <use href="./img/sprite.svg#icon-cleaner"></use>
            </svg>
          </div>
          <h4
            class="benefits-list-item-title"
            data-i18n="benefits-fifth-title"
          ></h4>
        </div>
        <p
          class="benefits-list-item-content"
          data-i18n="benefits-fifth-content"
        ></p>
      </li>
    </ul>
  </div>
</section>
