<footer class="footer-section">
  <div class="container">
    <div class="footer-section-first-wrapper">
      <a class="logo-footer" href="./index.html" aria-label="Gå til startsiden."
        ><svg
          class="logo"
          width="116"
          height="83"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <nav class="footer-navigation">
        <ul class="footer-nav-link-list">
          <li>
            <a
              href=""
              class="footer-nav-link"
              data-i18n="header-nav-first-link"
            ></a>
          </li>
          <li>
            <a
              href=""
              class="footer-nav-link"
              data-i18n="header-nav-second-link"
            ></a>
          </li>
          <li>
            <a
              href=""
              class="footer-nav-link"
              data-i18n="header-nav-third-link"
            ></a>
          </li>
          <li>
            <a
              href=""
              class="footer-nav-link"
              data-i18n="header-nav-fourth-link"
            ></a>
          </li>
          <li>
            <a
              href=""
              class="footer-nav-link"
              data-i18n="header-nav-femth-link"
            ></a>
          </li>
          <li>
            <a
              href=""
              class="footer-nav-link"
              data-i18n="header-nav-sixth-link"
            ></a>
          </li>
        </ul>
      </nav>
      <a class="footer-link-btn"
        ><span data-i18n="hero-link-btn"></span>
        <svg
          class="footer-link-svg"
          width="32"
          height="32"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite.svg#icon-black-roller" />
        </svg>
      </a>
    </div>
    <div>
      <ul class="footer-social-media-list">
        <li>
          <a
            href=""
            class="footer-social-media-link"
            target="_blank"
            aria-label="Link til håndværksmesteren på Whatsapp."
            rel="noopener noreferrer"
          >
            <svg
              class="social-media-footer-svg"
              width="54"
              height="54"
              aria-hidden="true"
              focusable="false"
            >
              <use href="./img/hero/viber.svg" />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=61557904254725&sk=friends&locale=ru_RU"
            class="footer-social-media-link"
            target="_blank"
            aria-label="Link til håndværksmesteren på Facebook."
            rel="noopener noreferrer"
          >
            <svg
              class="social-media-footer-svg"
              width="54"
              height="54"
              aria-hidden="true"
              focusable="false"
            >
              <use href="./img/hero/facebook.svg" />
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-social-media-second-list">
        <li>
          <a
            href="https://t.me/nara_web"
            class="footer-vebstudio-links"
            aria-label="Link til Telegram fra projektets designer."
            rel="noopener noreferrer"
            target="_blank"
            >Designed by <span class="footer-link-container">Nara_Web</span></a
          >
        </li>
        <li>
          <a
            href="https://t.me/dmytry_samburenko"
            class="footer-vebstudio-links"
            aria-label="Link til Telegram fra projektets udviklere."
            rel="noopener noreferrer"
            target="_blank"
            >Developed by
            <span class="footer-link-container">SL Digital Agency</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
