<section class="hero-section-container">
  <video
    class="hero-bg"
    autoplay
    muted
    loop
    playsinline
    preload="metadata"
    aria-hidden="true"
    tabindex="-1"
  >
    <source src="./img/hero/hero-wrapper.mp4" type="video/mp4" />
  </video>
  <div class="container">
    <div class="hero-section-text-wrapper">
      <div>
        <h1 class="hero-title" data-i18n="hero-title">
          Nemt renovering – totalløsninger med garanti for kvalitet og en
          velkomstgave til nye kunder
        </h1>
        <p class="hero-pre-title-text" data-i18n="hero-pre-title-text">
          HandyService — din pålidelige håndværker i Jylland.
        </p>
      </div>

      <ul class="hero-social-media-list" aria-label="Sociale medier">
        <li>
          <a
            href="https://wa.me/4550213233"
            class="hero-social-media-link"
            target="_blank"
            aria-label="Link til håndværksmesteren på Whatsapp."
            rel="noopener noreferrer"
          >
            <svg
              class="social-media-hero-svg"
              width="24"
              height="24"
              aria-hidden="true"
              focusable="false"
            >
              <use href="./img/sprite.svg#icon-viber" />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=61557904254725&sk=friends&locale=ru_RU"
            class="hero-social-media-link"
            target="_blank"
            aria-label="Link til håndværksmesteren på Facebook."
            rel="noopener noreferrer"
          >
            <svg
              class="social-media-hero-svg"
              width="24"
              height="24"
              aria-hidden="true"
              focusable="false"
            >
              <use href="./img/sprite.svg#icon-facebook-new" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <a class="hero-link-btn" href="#contact-form" aria-label="Kontakt os"
      ><span data-i18n="hero-link-btn">Få et tilbud</span>
      <svg
        class="hero-link-svg"
        width="32"
        height="32"
        aria-hidden="true"
        focusable="false"
      >
        <use href="./img/sprite.svg#icon-black-roller" />
      </svg>
    </a>
  </div>
</section>
