<div class="mobile-menu-wrapper">
  <button
    class="mobile-menu-close-btn"
    type="button"
    aria-label="Закрити мобільне меню"
    aria-controls="mobile-menu"
    aria-expanded="true"
  >
    <svg
      class="mobile-menu-close-icon"
      width="20"
      height="20"
      aria-hidden="true"
      focusable="false"
    >
      <use href="./img/sprite.svg#icon-closed"></use>
    </svg>
  </button>
  <div class="mobile-menu-container">
    <nav id="mobile-menu" class="mobile-menu-nav-wrapper">
      <ul class="mobile-menu-nav-list">
        <li>
          <a
            class="mobile-menu-social-media-link"
            data-i18n="header-nav-first-link"
            href="#"
          ></a>
        </li>
        <li>
          <a
            class="mobile-menu-social-media-link"
            href="#"
            data-i18n="header-nav-second-link"
          ></a>
        </li>
        <li>
          <a
            class="mobile-menu-social-media-link"
            href="#"
            data-i18n="header-nav-third-link"
          ></a>
        </li>
        <li>
          <a
            class="mobile-menu-social-media-link"
            href="#"
            data-i18n="header-nav-fourth-link"
          ></a>
        </li>
        <li>
          <a
            class="mobile-menu-social-media-link"
            href="#"
            data-i18n="header-nav-femth-link"
          ></a>
        </li>
        <li>
          <a
            class="mobile-menu-social-media-link"
            href="#"
            data-i18n="header-nav-sixth-link"
          ></a>
        </li>
      </ul>
    </nav>

    <address class="mobile-menu-social-media-wrapper">
      <ul class="mobile-menu-social-media-list">
        <li class="mobile-menu-social-media-list-item">
          <a
            class="mobile-menu-social-media"
            href="https://wa.me/4550213233"
            target="_blank"
            aria-label="Link til håndværksmesteren på Whatsapp."
            rel="noopener noreferrer"
          >
            <svg
              class="social-media-hero-svg"
              width="24"
              height="24"
              aria-hidden="true"
              focusable="false"
            >
              <use href="./img/sprite.svg#icon-viber" />
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-media-list-item">
          <a
            class="mobile-menu-social-media"
            href="https://www.facebook.com/profile.php?id=61557904254725&sk=friends&locale=ru_RU"
            target="_blank"
            aria-label="Link til håndværksmesteren på Facebook."
            rel="noopener noreferrer"
          >
            <svg
              class="social-media-hero-svg"
              width="24"
              height="24"
              aria-hidden="true"
              focusable="false"
            >
              <use href="./img/sprite.svg#icon-facebook-new" />
            </svg>
          </a>
        </li>
      </ul>

      <a href="tel:+4550213233" class="mobile-menu-phone-link"
        ><svg class="phone-icon" width="26" height="26">
          <use href="./img/sprite.svg#icon-mob-header"></use>
        </svg>
        <span class="phone-number">+45 50 21 32 33</span></a
      >
    </address>
  </div>
</div>
