<section class="approach-section">
  <div class="container approach-section-desk">
    <div class="approach-section-first-part">
      <p class="approach-pretitle" data-i18n="approach-pretitle"></p>
      <h2 class="approach-title" data-i18n="approach-title"></h2>
      <p
        class="approach-title-content"
        data-i18n="approach-title-content"
      ></p>
    </div>
    <div class="approach-section-second-part">
      <ul class="approach-images">
        <li class="approach-card-img-wrapper">
          <img
          src="./img/approach/app1.gif"
          alt="Worker"
          width="157"
          height="119"
        />
        </li>
        <li class="approach-card-img-wrapper">
          <img
          src="./img/approach/app2.gif"
          alt="Worker"
          width="157"
          height="119"
        />
        </li>
        <li class="approach-card-img-wrapper">
          <img
          src="./img/approach/app3.gif"
          alt="Worker"
          width="157"
          height="119"
        />
        </li>
      </ul>
      <div>
        <p data-i18n="approach-text1" class="approach-text-content approach-text-content-bottom"></p>
        <p data-i18n="approach-text-list-title" class="approach-text-content approach-text-title"></p>
        <ul class="approach-text-content-list">
          <li data-i18n="approach-listitem1"></li>
          <li data-i18n="approach-listitem2"></li>
          <li data-i18n="approach-listitem3"></li>
          <li data-i18n="approach-listitem4"></li>
        </ul>
        <p data-i18n="approach-text2" class="approach-text-content"></p>
      </div>
    </div>
</section>
