<section
  class="services-section"
  id="services"
  aria-labelledby="services-title"
>
  <div class="container">
    <div class="services-section-desk-position">
      <div class="services-section-first-part">
        <p class="services-pretitle" data-i18n="services-pretitle"></p>
        <h2 class="services-title" data-i18n="services-title"></h2>
        <p
          class="services-title-content"
          data-i18n="services-title-content"
        ></p>
      </div>
      <!-- nav -->
      <ul class="services-cards-btns">
        <li>
          <button
            type="button"
            aria-label="Painting button"
            class="services-btn services-first-btn"
            data-i18n="services-first-btn"
          ></button>
        </li>
        <li>
          <button
            type="button"
            aria-label="Walls button"
            class="services-btn services-second-btn"
            data-i18n="services-second-btn"
          ></button>
        </li>
        <li>
          <button
            type="button"
            aria-label="Paving button"
            class="services-btn services-third-btn"
            data-i18n="services-third-btn"
          ></button>
        </li>
        <li>
          <button
            type="button"
            aria-label="Installation button"
            class="services-btn services-fourth-btn"
            data-i18n="services-fourth-btn"
          ></button>
        </li>
        <li>
          <button
            type="button"
            aria-label="Other button"
            class="services-btn services-fifth-btn"
            data-i18n="services-fifth-btn"
          ></button>
        </li>
      </ul>
    </div>

    <!-- 1block -->
    <ul class="services-first-block services-cards">
      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/101@1x.jpg"
          srcset="./img/services/101@2x.jpg 2x"
          alt="Spartling af væg med bredspartel"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-first-title-one"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-first-content-one"
          ></p>

          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/102@1x.jpg"
          srcset="./img/services/102@2x.jpg 2x"
          alt="Nymalede vægge i industrilokale med afdækning"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-first-title-two"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-first-content-two"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/103@1x.jpg"
          srcset="./img/services/103@2x.jpg 2x"
          alt="Maling af husfacade fra stillads"
          width="344"
          loading="lazy"
          height="288"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-first-title-three"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-first-content-three"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/104@1x.jpg"
          srcset="./img/services/104@2x.jpg 2x"
          alt="Behandling af træbeklædt gavl med brun maling"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-first-title-four"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-first-content-four"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
    </ul>

    <!-- 2block -->
    <ul class="services-second-block services-cards">
      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/201@1x.jpg"
          srcset="./img/services/201@2x.jpg 2x"
          alt="Montering af gipsplader på loft – samlinger spartlet"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-second-title-one"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-second-content-one"
          ></p>

          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/202@1x.jpg"
          srcset="./img/services/202@2x.jpg 2x"
          alt="Nyopførte gipsvægge ved skrå loftflade og vindue"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-second-title-two"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-second-content-two"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/203@1x.jpg"
          srcset="./img/services/203@2x.jpg 2x"
          alt="Indretning af loftsrum med isolering, dampspærre og træskelet"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-second-title-three"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-second-content-three"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
    </ul>

    <!-- 3block -->
    <ul class="services-third-block services-cards">
      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/301@1x.jpg"
          srcset="./img/services/301@2x.jpg 2x"
          alt="Lægning af brosten på sandbund ved trappe"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-third-title-one"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-third-content-one"
          ></p>

          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/302@1x.jpg"
          srcset="./img/services/302@2x.jpg 2x"
          alt="Anlæg af indkørsel med store fliser – arbejdet i gang"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-third-title-two"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-third-content-two"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
    </ul>

    <!-- 4block -->
    <ul class="services-fourth-block services-cards">
      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/401@1x.jpg"
          srcset="./img/services/401@2x.jpg 2x"
          alt="Isolering af gulv med mineraluld mellem bjælker"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fourth-title-one"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fourth-content-one"
          ></p>

          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/402@1x.jpg"
          srcset="./img/services/402@2x.jpg 2x"
          alt="Udskiftning af gulv – nye træplader lagt"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fourth-title-two"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fourth-content-two"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/403@1x.jpg"
          srcset="./img/services/403@2x.jpg 2x"
          alt="Montering af vinduer og dør i tilbygning"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fourth-title-three"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fourth-content-three"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/404@1x.jpg"
          srcset="./img/services/404@2x.jpg 2x"
          alt="Udskiftning af tagets bølgeplader – arbejde i gang"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fourth-title-four"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fourth-content-four"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
    </ul>

    <!-- 5block -->
    <ul class="services-fifth-block services-cards">
      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/501@1x.jpg"
          srcset="./img/services/501@2x.jpg 2x"
          alt="Tilslutning af ledninger i vægkontakt"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fifth-title-one"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fifth-content-one"
          ></p>

          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/502@1x.jpg"
          srcset="./img/services/502@2x.jpg 2x"
          alt="Måling og montering af hylder på væg"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fifth-title-two"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fifth-content-two"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/503@1x.jpg"
          srcset="./img/services/503@2x.jpg 2x"
          alt="Opsætning af møbler i stuen – beskyttelsesfolie fjernes"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fifth-title-three"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fifth-content-three"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>

      <li class="services-card">
        <img
          class="services-card-img"
          src="./img/services/504@1x.jpg"
          srcset="./img/services/504@2x.jpg 2x"
          alt="Reparation af træstol med skruemaskine"
          width="344"
          height="288"
          loading="lazy"
        />
        <div class="services-card-text-content">
          <h3
            class="services-card-title"
            data-i18n="services-fifth-title-four"
          ></h3>
          <p
            class="services-card-content"
            data-i18n="services-fifth-content-four"
          ></p>
          <a href="#contact-form" class="services-card-link">
            <p class="services-link-btn-text" data-i18n="services-link-btn"></p>
            <div class="services-list-item-svg">
              <svg aria-hidden="true" focusable="false">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
