<section class="testimonials-section">
  <div class="container">
    <div class="testimonials-first-wrapper">
      <h3
        class="testimonials-pre-title"
        data-i18n="testimonials-pre-title"
      ></h3>
      <h2 class="testimonials-title" data-i18n="testimonials-title"></h2>
      <p
        class="testimonials-title-text"
        data-i18n="testimonials-title-text"
      ></p>
    </div>
    <div class="testimonials-swiper-init swiper manual-swiper-wrapper">
      <ul class="testimonials-swiper swiper-wrapper">
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class="about-me-svg"
                aria-label=""
                width="44"
                height="30"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite.svg#icon-quote-marks"></use>
              </svg>
              <p
                class="testimonials-first-card-quote"
                data-i18n="testimonials-first-card-quote"
              ></p>
              <p
                class="testimonials-first-card-name"
                data-i18n="testimonials-first-card-name"
              ></p>
              <p
                class="testimonials-first-card-city"
                data-i18n="testimonials-first-card-city"
              ></p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class="about-me-svg"
                aria-label=""
                width="44"
                height="30"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite.svg#icon-quote-marks"></use>
              </svg>
            </div>
            <p
              class="testimonials-second-card-quote"
              data-i18n="testimonials-second-card-quote"
            ></p>
            <p
              class="testimonials-second-card-name"
              data-i18n="testimonials-second-card-name"
            ></p>
            <p
              class="testimonials-second-card-city"
              data-i18n="testimonials-second-card-city"
            ></p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class="about-me-svg"
                aria-label=""
                width="44"
                height="30"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite.svg#icon-quote-marks"></use>
              </svg>
            </div>
            <p
              class="testimonials-third-card-quote"
              data-i18n="testimonials-third-card-quote"
            ></p>
            <p
              class="testimonials-third-card-name"
              data-i18n="testimonials-third-card-name"
            ></p>
            <p
              class="testimonials-third-card-city"
              data-i18n="testimonials-third-card-city"
            ></p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class="about-me-svg"
                aria-label=""
                width="44"
                height="30"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite.svg#icon-quote-marks"></use>
              </svg>
            </div>
            <p
              class="testimonials-fourth-card-quote"
              data-i18n="testimonials-fourth-card-quote"
            ></p>
            <p
              class="testimonials-fourth-card-name"
              data-i18n="testimonials-fifth-card-name"
            ></p>
            <p
              class="testimonials-fourth-card-city"
              data-i18n="testimonials-fourth-card-city"
            ></p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class="about-me-svg"
                aria-label=""
                width="44"
                height="30"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite.svg#icon-quote-marks"></use>
              </svg>
            </div>
            <p
              class="testimonials-fifth-card-quote"
              data-i18n="testimonials-fifth-card-quote"
            ></p>
            <p
              class="testimonials-fifth-card-name"
              data-i18n="testimonials-fifth-card-name"
            ></p>
            <p
              class="testimonials-fifth-card-city"
              data-i18n="testimonials-fifth-card-city"
            ></p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class="about-me-svg"
                aria-label=""
                width="44"
                height="30"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite.svg#icon-quote-marks"></use>
              </svg>
            </div>
            <p
              class="testimonials-sixth-card-quote"
              data-i18n="testimonials-sixth-card-quote"
            ></p>
            <p
              class="testimonials-sixth-card-name"
              data-i18n="testimonials-sixth-card-name"
            ></p>
            <p
              class="testimonials-sixth-card-city"
              data-i18n="testimonials-sixth-card-city"
            ></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
